
%footer
  .footer-area
    .container
      .footer-i.col-md-3.col-sm-6.col-xs-6.icon
        %h3 Follow Us
        %a{:href => "https://www.facebook.com/pages/Muddleme/308255049336613?ref_type=bookmark", :target => "_blank"}
          %i.fb-i.fa.fa-facebook{:style => "color:#4a6ea9;"}
        %span Facebook
        %br/
        %a{:href => "https://twitter.com/MuddlemeSavings", :target => "_blank"}
          %i.twitter-i.fa.fa-twitter{:style => "color:#30DCF2;"}
        %span Twitter
        %br/
        %a{:href => "https://plus.google.com/109111471039644073577", :target => "_blank"}
          %i.fa.google-i.fa-google-plus{:style => "color:#E25F43;"}
        %span Google+
        %br/
        %a{:href => "https://www.youtube.com/channel/UC80FmBdIUnmxVvIB1aOpaxw", :target => "_blank"}
          %i.fa.youtube-i.fa-youtube{:style => "color:#E34A42;"}
        %span YouTube
      .col-md-6.col-sm-12.text-center
        %h3 Make money while you search!
        %a{:href => ""}
          %img{:alt => "", :src => "/assets/footer-icon.png"}/
        %br/
        %a.a{:href => "#"} START NOW
      .col-md-3.col-sm-12.abc.text-center
        %a.ab{:href => "/referral"} REFER A FRIEND
        %br
          .facebool-check
            %i.fa.fa-check Like
            %img{:alt => "fb-like-counter", :src => "/assets/fb-counter.png"}
      .copyright
        .col-lg-12.col-md-12.col-sm-12.col-xs-12
          %hr/
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.pull-left
          .footer-menu
            %ul
              %li
                %a{:href => about_path} About Us
              %li
                %a{:href => 'http://muddleme.blog.com', :target => '_blank'} Blog
              %li
                %a{:href => contact_path} Contact
              %li
                %a{:href => privacy_policy_path} Privacy policy
              %li
                %a{:href => faq_path} FAQ

        .col-lg-4.col-md-4.col-sm-4.col-xs-12.pull-right
          %p Copyright #{ Date.today.year } Muddleme
