%article#direct-link.details-preview
  %p
    %span.label Send a direct link:
    %br
    %span (Share this link with your friends directly.)
  %div.input
    %input#link-text-input{:type=>'text', :value=>referral_url, :data=>{:"original-value"=>referral_url}}
  %div.actions
    %button#copy-link-to-clipboard.fixed-width-button.oragne-button
      Copy link to clipboard